*, *:before, *:after{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  width:100%;
  height:100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  height:100%;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  background: linear-gradient(163deg, rgba(238,238,238,1) 19%, rgba(104,113,107,0.767927153771665) 96%);
}

/* main */
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:80%;
  max-width: 600px;
}

/* current  */
.current {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction:column;
  text-align: center;
  padding: 1rem;
}
.current__location{
  font-size: 3rem;
  margin-bottom:1rem;
  font-weight: lighter;
}
.current__temperature{
  font-size:8rem;
  margin:1rem 0 0.5rem 0;
}

.current__description, .current__feels{
  font-weight: lighter;
  text-transform: capitalize;
}


/* form */
.form__section{
  height:2rem;
  margin-top:1.4rem;
}

.form__container{
  height:100%;
  display: flex;
  flex-direction:row;
}

.form__input{
  box-shadow: 4px 4px 0 #eee;
  color: #555555;
}

.form__input--text{
  border-top:2px solid #555555;
  border-left:2px solid #555555;
  border-bottom:2px solid #555555;
  border-right:none;
  padding: 0 0 0 0.5rem;
  background-color:#eee;
}

.form__input--submit{
  border:2px solid #555555;
  background-color:#555555;
  color:white;
  width:2rem;
}